<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Dasboard', dashboards_path %>
<%= link_to 'My gallery', user_galleries_path(@user) %>

<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= render 'images/index' %>
