<div class='grid grid-cols-5 h-40'>
  <div class='h-full my-profile flex flex-col justify-around items-center mt-5 col-start-3'>
    <div class='profile-picture mt-2'>
      <%= image_tag @user.profile_picture.to_s, :class =>'mx-4 rounded-full', :style => 'object-fit:cover; width:60px; height:60px'%>
    </div>
    <div class='w-11/12 h-80% grid grid-cols-3 flex my-2'>
      <div class='flex flex-nowrap text-lg col-start-1 col-end-3 justify-center items-center self-center'>
        <%= @user.name %>
      </div>
      <button class='btns col-start-3 text-base flex justify-center py-1.5 text-white bg-black'>
        <% if @user.id != current_user.id %>
          <% if @is_following %>
            <%= link_to 'unfollow', unfollow_user_path(@user) %>
          <% else %>
            <%= link_to 'follow', follow_user_path(@user) %>
          <%end%>
        <% else %>
            <%= link_to 'Edit', edit_user_path(@user) %> 
        <% end %>
      </button>
    </div>
    <p class='text-grey mt-2'>
      <%= @user.username %>
    </p>
    <p class='text-grey mt-2'>
      <%= @user.email %>
    </p>
    <button class='mt-2 h-fit w-fit py-2.5 px-4 text-white bg-black'><%= link_to 'Upload', new_user_image_path(@user) %></button>  
  </div>
</div>

<%# <%= render 'images/index' %>

