<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'My gallery', user_galleries_path(@user) %>
<%= link_to 'Upload', new_user_image_path(@user) %>

<div class='my-profile flex flex-col justify-center items-center text-left'>

  ##image
  <p>
    <%= @user.username %>
  </p>
  <p>
    <%= @user.email %>
  </p>
</div>

<%= render 'images/index' %>

