<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%# <%= link_to 'My gallery', user_galleries_path(@user) %> %>
<%= link_to 'Upload', new_user_image_path(@user) %>

<div class='my-profile flex flex-col justify-center items-center text-left'>
  <div class='profile-picture h-16 w-16 bg-indigo-400'>
    <%= image_tag @user.profile_picture.to_s, :class => 'object-cover' %>
  </div>
  <p class='my-2'>
    <%= @user.username %>
  </p>
  <p class='my-2'>
    <%= @user.email %>
  </p>
  
  <% if @user.id == current_user.id %>
    HELLO <%= current_user.id%>
  <% else %>
    <% if @is_following %>
      <%= link_to 'unfollow', unfollow_user_path(@user) %> 
    <% else %>
      <%= link_to 'follow', follow_user_path(@user) %> 
    <%end%>
  <% end %>

</div>

<%= render 'images/index' %>

