<%= form_with model: [@user, @gallery],  local: true do |f| %>
    <div  class='h-screen grid grid-cols-5'>
        <div class='h-full text-xl flex flex-col col-start-2 col-end-5 items-center border-x-2 border-black justify-center '>
            <div class='w-4/6 h-5/6'>
                <div class="w-full my-4">
                    <%= f.label :title %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.text_field :title, :style => 'width: 100%' %>
                    </div>
                </div>
                <div class="w-full my-4">
                    <%= f.label :caption %><br />
                    <div class='border-b-2 border-black w-full'>
                        <%= f.text_area :caption, :style => 'width: 100%' %>
                    </div>
                </div>           
                <div class="w-full my-4">
                    <%= f.label :gallery_price %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.number_field :gallery_price, :style => 'width: 100%' %>
                    </div>
                </div>
                <div class='flex grid grid-cols-3'>
                    <% @gallery.images.each do |image| %>
                        <div class= 'flex flex-col max-w-sm h-auto'>
                            <div class='flex h-full'>
                              <%= check_box_tag "gallery[image_ids][]", image.id, @gallery.image_ids.include?(image.id)%>
                              <%= image_tag(image.img.to_s) %>
                            </div>
                            
                        </div>
                    <% end %>
                    <%= hidden_field_tag "gallery[image_ids][]", nil %>
                </div>
                <div class="w-full mt-8 flex justify-center">
                    <button class='bg-black text-white py-2 px-4 '><%= f.submit 'Save'%></button>
                </div>
            </div>
        </div>
    </div>
<% end %>
<%# <%= link_to 'Back', user_galleries_path(current_user) %>
<%# <%= collection_check_boxes(:gallery, :image_ids, @images, :id, :myImage ) %> %>

<%# <%= f.check_box :image_ids, {multiple: true}, image.id, nil %> %>
<%# <%= link_to image_tag(image.img.to_s), :style => 'object-fit:cover; width:300px; height:auto'%> %>
<%# <div class='w-full grid grid-cols-2 mt-4 flex'>
                                <span class='mr-4 col-start-1 flex justify-start font-semibold pl-2'><%= image.title %></span>
                            <%# </div>  %> %>