
<%= form_with model: [@user, @gallery],  local: true do |f| %>
    <h1>New Gallery</h1>


    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.label :caption %>
        <%= f.text_field :caption %>
    </div>

    <div class="field">
        <%= f.label :gallery_price %>
        <%= f.number_field :gallery_price %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>

<%= link_to 'Back', user_galleries_path(@user) %>
