<div class= 'flex flex-col'>
  <div class='w-full grid grid-cols-2'>
    <span class='col-start-1 font-bold text-2xl mx-5'><%= @gallery.title %></span>
    <% if @gallery.gallery_price != nil and @gallery.gallery_price > 0 %>
      <span class='col-start-2 bg-rose-200 flex justify-end mx-5'>PHP <%= @gallery.gallery_price %></span>
    <% end %>
  </div>    
  <span><%= @gallery.caption %></span>
  <div class='w-full grid grid-cols-3 mx-5 mb-5 gap-5 mt-20 flex justify-center'>
      <% @gallery.images.each do |image| %>
          <div class='mt-8 w-96 h-auto'>
          <%= image_tag image.img.to_s, :style => 'object-fit:contain; max-width:400px; max-height:400px' %>
          </div>
      <% end %>
  </div>
    <div class='btns mt-8 mb-4'>
      <% if @gallery.user_id == current_user.id %>
        <div>
          <span class='mx-2'><%= link_to 'Delete', user_gallery_path(current_user, @gallery), method: :delete, data: { confirm: 'Are you sure?' } %></span> |
          <span class='mx-2'><%= link_to 'Edit', edit_user_gallery_path(current_user, @gallery) %></span>
        </div>
      <% else %>
        <%# <button class='border-2 px-4 py-2 bg-black text-white mt-8'><%= link_to 'BUY', images_buy_path(@image) %></button> %>
      <% end %>
    </div>
</div>