<% if @images.count != 0 %>
  <div class='w-full flex justify-center'>
    <div class='w-5/6 grid grid-cols-3 mx-5 gap-5 flex justify-start items-start'>
      <% @images.each do |image|%>
        <div class= 'flex flex-col min-h-max h-fit items-start justify-center w-96 min-h-max mt-5 p-5 border-2 pb-4 border-black'>
          <div class='flex items-center mb-4 text-lg'>
            <% if image.user.profile_picture? %>
              <%= image_tag image.user.profile_picture.to_s, :class =>'mr-4 rounded-full bg-green-400', :style => 'object-fit:cover; width:30px; height:30px'%>
            <% else %>
              <%= image_tag 'user.jpg', :class =>'mr-4 rounded-full self-center', :style => 'object-fit:cover; width:30px; height:30px' %>
            <% end %>  
            <div>
              <%= link_to user_path(image.user.id) do %>
                <%= image.user.username %>
              <% end %>
              <% if !(current_user.followings.include?(image.user)) && image.user_id != current_user.id %>
                <button class= 'p-1 mx-2 border text-xs border-grey text-black'><%= link_to 'Follow', follow_user_path(image.user) %></button>
              <% end %>
            </div>
          </div>
          <div class='flex grid grid-cols-2 mb-4 w-full min-h-max h-9'>
            <li class='col-start-1 flex justify-start'><%= image.title %></li>
            <li class='col-start-2 flex justify-end text-xs'>
              <% if image.price != nil and image.price > 0 %>
                <span class= 'p-2 bg-black text-white'>On Market</span>
              <% end %>
            </li>
          </div>
          <div class='h-fit flex bg-rose-200 justify-center'>
            <%= link_to(user_image_path(@user, image)) do %>
              <span class=''><%= image_tag image.img.to_s, :style => 'object-fit:cover; max-width:auto; height:300px' %></span>
            <% end %>
          </div>
          <div class='w-full mt-4 h-28 flex justify-start overflow-y-auto no-scrollbar text-sm'>
            <span><%= image.caption %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <span class='h-full w-full flex justify-center items-center text-2xl'> no content to display </span>
<% end %>