<%= form_with model: [@user, @image],  local: true do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
            <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
  <% end %>
    <div  class='h-screen grid grid-cols-5'>
        <div class='h-full text-xl flex flex-col col-start-2 col-end-5 items-center border-x-2 border-black justify-center '>
            <div class='w-4/6 h-5/6'>
                <div class="w-full my-4">
                    <%= f.label :title %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.text_field :title, :style => 'width: 100%' %>
                    </div>
                </div>

                <div class="w-full my-4">
                    <%= f.label :caption %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.text_field :caption, :style => 'width: 100%' %>
                    </div>
                </div>

                <div class="w-full my-4">
                    <%= f.label :price %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.number_field :price, :style => 'width: 100%' %>
                    </div>
                </div>

                <div class="w-full my-4">
                    <%= f.label 'Photo' %><br />
                    <div class='mt-6 border-black'>
                        <%= f.file_field :img, :style => 'width: 100%' %>
                    </div>
                </div>
                
                <div class='flex w-full mt-8 flex justify-around'>
                    <button class='bg-black self-center mt-8 text-white py-2 px-4 '><%= f.submit 'Update'%></button>
                    <button class='bg-grey self-center mt-8 text-black py-2 px-4 '><%= link_to 'Cancel', :back %></button>
                </div>
            </div>
        </div>
    </div>
<% end %>