<%= form_with model: [@user, @image],  local: true do |f| %>
    <div  class='h-screen grid grid-cols-5'>
        <div class='h-full text-xl flex flex-col col-start-2 col-end-5 items-center border-x-2 border-black justify-center '>
            <div class='w-4/6 h-5/6'>
                <div class='h-36 w-full bg-black flex flex-col justify-center items-center text-white mb-8'>
                    <%= f.label 'Upload a photo'%>
                    <%= f.file_field :img %>
                </div>
            
                <div class="w-full my-4">
                    <%= f.label :title %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.text_field :title, :style => 'width: 100%' %>
                    </div>
                </div>

                <div class="w-full my-4">
                    <%= f.label :caption %><br />
                    <div class='border-b-2 border-black w-full'>
                        <%= f.text_area :caption, :style => 'width: 100%' %>
                    </div>
                </div>
            
                <div class="w-full my-4">
                    <%= f.label :price %><br />
                    <div class='mt-6 border-b-2 border-black'>
                        <%= f.number_field :price, :style => 'width: 100%' %>
                    </div>
                </div>

                <div class="w-full mt-8 flex justify-center">
                    <button class='bg-black text-white py-2 px-4 '><%= f.submit 'Save'%></button>
                </div>
            </div>
        </div>
    </div>
<% end %>
