<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Price:</strong>
  <%= @image.price %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag @image.img.to_s %>
</p>

<%= link_to 'Destroy', user_image_path(@user, @image), method: :delete, data: { confirm: 'Are you sure?' }%>

<%= link_to 'Back', @user %>
